<p id="notice"><%= notice %></p>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
<!--Navagation Section-->
<div class="navContainer">
  <div class="navObject">
    <%= link_to 'PublicHtml', root_path %>
  </div>
  <div class="navObject">
    <%= link_to 'Sites', sites_path %>
  </div>
  <div class="navObject">
    <%= link_to 'SSL', ssl_checks_path %>
  </div>
</div>
<!-- END Navagation Section-->
<h1>UP TIME:BRUH IM LIKE NOT HAVING A GOOD TIME I GUESS LIKE 90%</h1>
<!-- Render Graph Data -->
<div class="websiteGraph">
  <section class="networkIndexGraph">
    <%=render partial: "site_graph" %>
  </section>
</div>
<!-- END Render Graph Data -->
<!--Network Status-->
<div class="networkStatus">
  <div class="networkBlock">
    <div class="networkTitle">
      <span>Websites Status</span>
    </div>
    <div class="networkNumber">
      <span><%=Time.now%></span>
    </div>
  </div>
  <div class="networkBlock">
    <div class="networkTitle">
      <span>Websites Errors</span>
    </div>
    <div class="networkNumber">
      <span>0</span>
    </div>
  </div>
  <div class="networkBlock">
    <div class="networkTitle">
      <span>Maintenance</span>
    </div>
    <div class="networkNumber">
      <span>0</span>
    </div>
  </div>
</div>
<!--END Network Status-->
<div data-channel="sites">
  <div class="serverStatus">
    <%@sites.offline.each do |site|%>
      <%=render partial: site%>
    <%end%>
    <%@sites.online.each do |site|%>
      <%=render partial: site %>
    <%end%>
    <%@sites.maintenance.each do |site|%>
      <%=render partial: site%>
    <%end%>
  </div>
</div>
