<p id="notice"><%= notice %></p>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
<!--Navagation Section-->
<div class="navContainer">
  <div class="navObject">
    <%= link_to 'PublicHtml', root_path %>
  </div>
  <div class="navObject">
    <%= link_to 'Sites', sites_path %>
  </div>
  <div class="navObject">
    <%= link_to 'SSL', ssl_checks_path %>
  </div>
</div>
<!-- END Navagation Section-->
<!-- Render Graph Data -->
<div data-channel="graph">
  <section class="networkIndexGraph">
    <%=render partial: "site_graph" %>
  </section>
</div>
<!-- END Render Graph Data -->
<!--Network Status-->
<div class="networkStatus">
  <div class="networkBlock">
    <div class="networkTitle">
      <span>Websites Status</span>
    </div>
    <div class="networkNumber">
      <span><%=Time.now%></span>
    </div>
  </div>
  <div class="networkBlock">
    <div class="networkTitle">
      <span>Websites Errors</span>
    </div>
    <div class="networkNumber">
      <span>0</span>
    </div>
  </div>
  <div class="networkBlock">
    <div class="networkTitle">
      <span>Maintenance</span>
    </div>
    <div class="networkNumber">
      <span>0</span>
    </div>
  </div>
</div>
<!--END Network Status-->
<div data-channel="sites">
  <div class="serverStatus">
    
      <%@sites.offline.each do |site|%>
        <%=render partial: site %>
      <%end%>
    
    <!--
      <%@sites.online.each do |site|%>
        <%=render partial: site %>
      <%end%>
    
    
      <%@sites.maintenance.each do |site|%>
        <%=render partial: site %>
      <%end%>
    -->
  </div>
</div>
<!-- old code -->
<!--Seperates servers baised on Status 
<%onlineArray = []%>
<%offlineArray = []%>
<%maintenanceArray = []%>
<%@sites.each do |site|%>
  <%if site.maintenance== false%>
    <%maintenanceArray.push(site.address)%>
  <%else%>
    <%siteStatus=""%>
    <% @networkpages.each do |networkpage| %>
      <%if networkpage.address.match(site.address) {siteStatus = networkpage.status}%>
      <%end%>
    <%end%>
    <%if siteStatus.match("Online")%>
      <%onlineArray.push(site.address)%>
    <%else%>
      <%offlineArray.push(site.address)%>
    <%end%>
  <%end%>
<%end%>
CODE GENERATOR FOR WEBSITE STATUS
<div class="serverStatus">
  <%while onlineArray.length > 0 || offlineArray.length > 0 || maintenanceArray.length > 0%>
    <%while offlineArray.length > 0 %>
      <%siteUrl = offlineArray.pop()%>
      <%@sites.each do |site|%>
        <%if site.address.match(siteUrl)%>
          <div class="serverBlock">
            <span class ="elementName"><%= link_to "#{siteUrl}", site ,class: 'link-to-text-color'%></span>
            <span class="textColorRed">Offline</span>
          </div>
        <%end%>
      <%end%>
    <%end%>
    <%while onlineArray.length > 0 %>
        <%siteUrl = onlineArray.pop()%>
        <%@sites.each do |site|%>
          <%if site.address.match(siteUrl)%>
            <div class="serverBlock">
              <span class ="elementName"><%= link_to "#{siteUrl}", site ,class: 'link-to-text-color'%></span>
              <span class="textColorGreen">Online</span>
            </div>
          <%end%>
        <%end%>
    <%end%>
    <%while maintenanceArray.length > 0 %>
        <%siteUrl = maintenanceArray.pop()%>
        <%@sites.each do |site|%>
          <%if site.address.match(siteUrl)%>
          <div class="serverBlock">
            <span class ="elementName"><%= link_to "#{siteUrl}", site ,class: 'link-to-text-color'%></span>
            <span class="textColorPurple">Down</span>
          </div>
          <%end%>
        <%end%>
    <%end%>
   
  <%end%>
</div>-->
