<p id="notice"><%= notice %></p>

<h1>Networkpages</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Addressindex</th>
      <th>Monitor</th>
      <th>Status</th>
      <th>Relaytime</th>
      <th>Creation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @networkpages.each do |networkpage| %>
      <tr>
        <td><%= networkpage.address %></td>
        <td><%= networkpage.addressindex %></td>
        <td><%= networkpage.monitor %></td>
        <td><%= networkpage.status %></td>
        <td><%= networkpage.relaytime %></td>
        <td><%= networkpage.creation %></td>
        <td><%= link_to 'Show', networkpage %></td>
        <td><%= link_to 'Edit', edit_networkpage_path(networkpage) %></td>
        <td><%= link_to 'Destroy', networkpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Networkpage', new_networkpage_path %>
