<p id="notice"><%= notice %></p>

<div class="navContainer">
    <div class="navObject">
      <a href=""><%= link_to 'NetworkPages', networkpages_path %></a>
    </div>
    <div class="navObject">
      <a href=""><%= link_to 'Sites', sites_path %></a>
    </div>
    <div class="navObject">
      <a href=""><%= link_to 'SSL', ssl_checks_path %></a>
    </div>
  </div>
  <div class="serverStatus">
    <div class="serverBlock">
        <div class="serverTitle">
          <span>Servers Online</span>
        </div>
        <div class="serverNumber">
        
          <span>0</span>
        </div>
    </div>
    <div class="serverBlock">
        <div class="serverTitle">
          <span>Servers Offline</span>
        </div>
        <div class="serverNumber">
          <span>0</span>
        </div>
    </div>
    <div class="serverBlock">
        <div class="serverTitle">
          <span>Server Maintenance</span>
        </div>
        <div class="serverNumber">
          <span>0</span>
        </div>
    </div>
    <div class="serverBlock">
        <div class="serverTitle">
          <span>Server Maintenance</span>
        </div>
        <div class="serverNumber">
          <span>0</span>
        </div>
    </div>
    <div class="serverBlock">
        <div class="serverTitle">
          <span>Server Maintenance</span>
        </div>
        <div class="serverNumber">
          <span>0</span>
        </div>
    </div>

  </div>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Addressindex</th>
      <th>Monitor</th>
      <th>Status</th>
      <th>Relaytime</th>
      <th>Creation</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <!--New Data Section -->

<tbody data-channel="sites">
  <%@sites.each do |site|%>
    <%up = 0%>
    <%down = 0%>
      <% @networkpages.each do |networkpage| %>
        <%if networkpage.address == site.address%>
          <%if networkpage.status == "Online"%>
            <%up += 1%>
            <%else%>
            <%down += 1%>
          <%end%>
        <%end%>
      <% end %>
    <!--<tr data-siteid = "<%=site.id%>">look at later-->
    <%= tag.tr data:{site_id:site.id} do%>
      
        <td><%= site.address %></td>
        <td><%= up %></td>
        <td><%= down %></td>
       
    <%end%>
  <%end%>
</tbody>







<!-- Remove this to get original data back
  <tbody>
    <% @networkpages.each do |networkpage| %>
      <tr>
        <td><%= networkpage.address %></td>
        <td><%= networkpage.addressindex %></td>
        <td><%= networkpage.monitor %></td>
        <td><%= networkpage.status %></td>
        <td><%= networkpage.relaytime %></td>
        <td><%= networkpage.creation %></td>
        <td><%= link_to 'Show', networkpage %></td>
        <td><%= link_to 'Edit', edit_networkpage_path(networkpage) %></td>
        <td><%= link_to 'Destroy', networkpage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  -->
</table>

<br>

<%= link_to 'New Networkpage', new_networkpage_path %>
