<%= form_with(model: site) do |form| %>
<% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
        <% site.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<table style="text-align:left; margin-top:5px;" class="table_css">
  <tr>
    <th>SITE EDITOR</th>
    <th></th>
    <th>Field Information</th>
  </tr>
  <tr>
    <td><%= form.label :address %></td>
    <td><%= form.text_field :address %></td>
    <td>Address or ip-address</td>
  </tr>
  <tr>
    <td><%= form.hidden_field :user_id %></td>
    <td><%=current_user.email%></td>
    <td>Auto Generated: Can not edit this.</td>
  </tr>
  <tr>
    <td><%= form.label :creation %></td>
    <td><%= form.datetime_select :creation %></td>
    <td>You can input a custom creation date or leave the default value. </td>
  </tr>
  <tr>
    <td><%= form.label :delay %></td>
    <td><%= form.number_field :delay %></td>
    <td>Default 5 seconds. How long the system should wait for a reply from the site before it considers it down. </td>
  </tr>
  <tr>
    <td><%= form.label :maintenance %></td>
    <td><%= form.check_box :maintenance %></td>
    <td>
    <p>Check the box to monitor the site. Uncheck the box for maintenance mode.</p>
    </td>
  </tr>
  <tr>
    <td><%= form.submit%></td>
    <td></td>
    <td>Submit the site information</td>
  </tr>
</table>
<% end %>