<%=tag.div data:{site_id:site.id}, class: 'siteElement serverBlock' do%>
  
    <%if site.maintenance? %>
    <span class ="elementName"><%= link_to "#{site.address}", site ,class: 'link-to-text-color'%></span>
      <span class="elementStatus"><%=site.networkpages.last.status %></span>
    <%else%>
      <span class ="elementName"><%= link_to "#{site.address}", site ,class: 'link-to-text-color'%></span>
      <span class="elementStatus"><%="Maintenance" %></span>
    <%end%>
<%end%>
