<%status_color=site.networkpages.last.status%>
<%css_class=status_color == "Offline" ? "offline_color": "online_color"%><%#<!--ternary Statement-->%>
<%css_box=status_color == "Offline" ? "network_block_full_offline": "network_block_full_online"%><%#<!--ternary Statement-->%>
<%=tag.div data:{site_id:site.id}, class: "#{css_box} networkStatus network_block_full address_container siteElement serverBlock onlineColor flexcard_element" do%>
<%unless site.maintenance? %>
<%css_class="maintenance_color"%>
<%css_box="network_block_full_maintenance"%>
<%end%>
<%@colorselections = Colorselection.all%>
<%r=@colorselections[site.id].red.to_s%>
<%b=@colorselections[site.id].blue.to_s%>
<%g=@colorselections[site.id].green.to_s%>
<%retro_colors =""%>
<%retro_colors = retro_colors+r+","+g+","+b%>
      <div class="networkBlock">
        <div class="networkTitle">
        <%= link_to "#{site.address}", site ,class: 'link-to-text-color',style:"color:rgb(#{retro_colors})"%>
        </div>
      </div>
      <div class="networkBlock">
        <div class="networkTitle <%=css_class%>">
          <%unless site.maintenance? %>
          <%=site.status %>
          <%else%>
          <%=site.networkpages.last.status %>
          <%end%>
        </div>
      </div>
      <div class="networkBlock <%=css_class%>">
        <div class="networkTitle">
          <%="#{site.lastseen} Minutes Ago" %><!--change later-->
        </div>
      </div>

      <div class="networkBlock <%=css_class%>">
        <div class="networkTitle">
          <%=site.mean%>
        </div>
      </div>
      <div class="networkBlock <%=css_class%>">
        <div class="networkTitle">
        <%=site.houruptime%>%
        </div>
      </div>  
<%end%>
