<p id="notice"><%= notice %></p>

<div class="showContainer">
  <div class="showBlockLeft">
    <div class="showParentElement showElementLeft">Address: </div>
    <div class="showChildElement showElementLeft">Status: </div>
    <div class="showChildElement showElementLeft">User: </div>
    <div class="showChildElement showElementLeft">Creation: </div>
    <div class="showChildElement showElementLeft">Delay: </div>
    <div class="showChildElement showElementLeft">Maintenance: </div>
    <div class="showChildElement showElementLeft"><%= link_to 'Edit Site', edit_site_path(@site) %>:</div>
    <div class="showChildElement showElementLeft"><%= link_to 'Back To Sites', sites_path %>:</div>
  </div>
  <div class="showBlockRight">
    <div class="showParentElementRight showElementRight"><%= @site.address %></div>
    <div class="showChildElement showElementRight"><%= @site.status %></div>
    <div class="showChildElement showElementRight"><%= @site.user %></div>
    <div class="showChildElement showElementRight"><%= @site.creation %></div>
    <div class="showChildElement showElementRight"><%= @site.delay %></div>
    <div class="showChildElement showElementRight"><%= @site.maintenance %></div>
    <div class="showChildElement showElementRight"></div>
    <div class="showChildElement showElementRight"></div>
  </div>
</div>
<div style="height: 150px; width:50%; overflow: auto">
  <table style="height: 400px;width:100%">
    <tr>
      <th style="position: sticky; top: 0; z-index: 1;">Delay</th>
      <th style="position: sticky; top: 0; z-index: 1;">Time</th>
    </tr>
    <%data_holder = @site.networkpages.last(60).pluck(:relaytime,:creation).reverse()%>
    <%data_holder.each do |data|%>
      <tr>
        <td><%=data[0]%></td>
        <td><%=data[1]%></td>
      </tr>
    <%end%>
  </table>
</div>
