<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @site.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @site.user %>
</p>

<p>
  <strong>Creation:</strong>
  <%= @site.creation %>
</p>

<p>
  <strong>Delay:</strong>
  <%= @site.delay %>
</p>

<p>
  <strong>Maintenance:</strong>
  <%= @site.maintenance %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
