<p id="notice"><%= notice %></p>
<%= link_to 'Edit Site', edit_site_path(@site),class:'button' %>
<%= link_to 'Back To Sites', sites_path,class:'button'  %>
<!--Site Information-->
<table style="text-align:left; margin-top:5px;" class="table_css">
  <tr>
    <th>Site Information</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th>Address:  </th>
    <td><%=@site.address %></td>
  </tr>
  <tr>
    <th>Status:  </th>
    <td><%=@site.status %></td>
  </tr>
  <tr>
    <th>User:  </th>
    <td><%=@site.user.email %></td>
  </tr>
  <tr>
    <th>Creation: </th>
    <td><%= @site.creation %></td>
  </tr>
  <tr>
    <th>Delay: </th>
    <td><%= @site.delay %></td>
  </tr>
  <tr>
    <th>Maintenance: </th>
    <td><%= @site.maintenance %></td>
  </tr>
  <tr>
    <th>Mean: </th>
    <td><%= @site.mean %></td>
  </tr>
  <tr>
    <th>Houruptime: </th>
    <td><%= @site.houruptime %></td>
  </tr>
  <tr>
    <th>lastseen: </th>
    <td><%= @site.lastseen %></td>
  </tr>
  
</table>
<!--Report Forum-->
<%= form_tag site_path(@site),method: :get do %>
<table style="text-align:left; margin-top:5px;" class="table_css">
  <tr>
    <th>Report</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= label_tag :start_date %></td>
    <td><%= date_field_tag :start_date %></td>
    <th>Records are pulled starting at 12:00 AM that day</th>
  </tr>
  <tr>
    <td><%= label_tag :end_date %></td>
    <td><%= date_field_tag :end_date %></td>
    <th>Records are pulled ending at 11:59 PM that day</th>
  </tr>
  <tr>
    <td><%= submit_tag 'Submit' %></td>
  </tr>
</table>
<%end%>



<p>Default is set to last 24 hours</p>
<div style="height: 50%; width:100%; overflow: auto">
  <table style="text-align:left; width:50%; margin-top:5px;">
    <tr>
      <th >Delay</th>
      <th >Local Time</th>
    </tr>
    <%data_holder = @networkpages.pluck(:relaytime,:creation).reverse()%>
    <%@networkpages.each do |data|%>
      <%if data.relaytime > 5%>
        <tr style="color:red;">
          <td><%=data.relaytime%></td>
          <td><%=l(data.creation,locale: :en)%></td>
        </tr>
      <%else%>
      <tr style="color:white;">
          <td><%=data.relaytime%></td>
          <td><%=l(data.creation,locale: :en)%></td>
        </tr>
      <%end%>
    <%end%>
  </table>
</div>


